# Alphabet Soup Charity Notebook

### Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
# from tensorflow import keras
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, Dropout

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 100].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [18]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

### First Attempt: 72% Accuracy // 55% Loss

In [20]:
# Import TensorFlow
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/envs/env1/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         4,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 6,461 (25.24 KB)

 Trainable params: 6,461 (25.24 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [24]:
# Create a callback that saves the model's weights every 5 epochs
checkpoint = ModelCheckpoint(filepath="weights.{epoch:02d}.weights.h5", save_weights_only=True, save_freq=5*len(X_train_scaled))

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=32, callbacks=[checkpoint], validation_split=0.2)

Epoch 1/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 1s 507us/step - accuracy: 0.6936 - loss: 0.5999 - val_accuracy: 0.7382 - val_loss: 0.5497
Epoch 2/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - accuracy: 0.7236 - loss: 0.5571 - val_accuracy: 0.7382 - val_loss: 0.5474
Epoch 3/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - accuracy: 0.7240 - loss: 0.5599 - val_accuracy: 0.7418 - val_loss: 0.5441
Epoch 4/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7289 - loss: 0.5513 - val_accuracy: 0.7402 - val_loss: 0.5412
Epoch 5/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7314 - loss: 0.5486 - val_accuracy: 0.7382 - val_loss: 0.5475
Epoch 6/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7280 - loss: 0.5528 - val_accuracy: 0.7387 - val_loss: 0.5422
Epoch 7/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7320 - loss: 0.5446 - val_accuracy: 0.7365 - val_loss: 0.5425
Epoch 8/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7289 - loss: 0.5469 - val_accuracy: 0.7371 - val_loss: 0.5486
Epoch 9/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7336 - loss: 0.5455 - val_accuracy: 0.7382 - val_loss: 0.5405
Epoch 10/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - accuracy: 0.7293 - loss: 0.5490 - val_accuracy: 0.7383 - val_loss: 0.5429
Epoch 11/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7283 - loss: 0.5467 - val_accuracy: 0.7407 - val_loss: 0.5434
Epoch 12/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7316 - loss: 0.5431 - val_accuracy: 0.7407 - val_loss: 0.5425
Epoch 13/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7345 - loss: 0.5381 - val_accuracy: 0.7407 - val_loss: 0.5429
Epoch 14/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7271 - loss: 0.5492 - val_accuracy: 0.7398 - val_loss: 0.5439
Epoch 15/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7311 - loss: 0.5451 - val_accuracy: 0.7372 - val_loss: 0.5447
Epoch 16/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7346 - loss: 0.5422 - val_accuracy: 0.7413 - val_loss: 0.5434
Epoch 17/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7424 - loss: 0.5347 - val_accuracy: 0.7382 - val_loss: 0.5444
Epoch 18/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7357 - loss: 0.5415 - val_accuracy: 0.7389 - val_loss: 0.5424
Epoch 19/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7338 - loss: 0.5372 - val_accuracy: 0.7416 - val_loss: 0.5430
Epoch 20/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7351 - loss: 0.5399 - val_accuracy: 0.7383 - val_loss: 0.5435
Epoch 21/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7336 - loss: 0.5432 - val_accuracy: 0.7389 - val_loss: 0.5424
Epoch 22/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7325 - loss: 0.5415 - val_accuracy: 0.7378 - val_loss: 0.5413
Epoch 23/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7409 - loss: 0.5346 - val_accuracy: 0.7411 - val_loss: 0.5407
Epoch 24/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7414 - loss: 0.5381 - val_accuracy: 0.7394 - val_loss: 0.5430
Epoch 25/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7399 - loss: 0.5313 - val_accuracy: 0.7380 - val_loss: 0.5432
Epoch 26/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7406 - loss: 0.5324 - val_accuracy: 0.7392 - val_loss: 0.5409
Epoch 27/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 422us/step - accuracy: 0.7374 - loss: 0.5373 - val_accuracy: 0.7411 - val_loss: 0.5409
Epoch 28/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - accuracy: 0.7416 - loss: 0.5321 - val_accuracy: 0.7369 - val_loss: 0.5438
Epoch 29/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7370 - loss: 0.5359 - val_accuracy: 0.7394 - val_loss: 0.5426
Epoch 30/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7448 - loss: 0.5303 - val_accuracy: 0.7374 - val_loss: 0.5442
Epoch 31/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7305 - loss: 0.5423 - val_accuracy: 0.7385 - val_loss: 0.5461
Epoch 32/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7342 - loss: 0.5415 - val_accuracy: 0.7380 - val_loss: 0.5447
Epoch 33/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7389 - loss: 0.5389 - val_accuracy: 0.7405 - val_loss: 0.5419
Epoch 34/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7394 - loss: 0.5336 - val_accuracy: 0.7391 - val_loss: 0.5448
Epoch 35/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7394 - loss: 0.5359 - val_accuracy: 0.7382 - val_loss: 0.5442
Epoch 36/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7346 - loss: 0.5451 - val_accuracy: 0.7389 - val_loss: 0.5457
Epoch 37/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7361 - loss: 0.5366 - val_accuracy: 0.7369 - val_loss: 0.5443
Epoch 38/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.7357 - loss: 0.5376 - val_accuracy: 0.7382 - val_loss: 0.5450
Epoch 39/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 436us/step - accuracy: 0.7378 - loss: 0.5334 - val_accuracy: 0.7378 - val_loss: 0.5468
Epoch 40/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - accuracy: 0.7408 - loss: 0.5373 - val_accuracy: 0.7394 - val_loss: 0.5441
Epoch 41/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - accuracy: 0.7362 - loss: 0.5355 - val_accuracy: 0.7398 - val_loss: 0.5476
Epoch 42/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - accuracy: 0.7389 - loss: 0.5380 - val_accuracy: 0.7389 - val_loss: 0.5449
Epoch 43/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - accuracy: 0.7350 - loss: 0.5419 - val_accuracy: 0.7402 - val_loss: 0.5435
Epoch 44/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7430 - loss: 0.5327 - val_accuracy: 0.7400 - val_loss: 0.5467
Epoch 45/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7327 - loss: 0.5373 - val_accuracy: 0.7398 - val_loss: 0.5422
Epoch 46/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7421 - loss: 0.5311 - val_accuracy: 0.7383 - val_loss: 0.5449
Epoch 47/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7350 - loss: 0.5383 - val_accuracy: 0.7376 - val_loss: 0.5477
Epoch 48/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7381 - loss: 0.5362 - val_accuracy: 0.7396 - val_loss: 0.5468
Epoch 49/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.7407 - loss: 0.5323 - val_accuracy: 0.7402 - val_loss: 0.5420
Epoch 50/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7390 - loss: 0.5384 - val_accuracy: 0.7398 - val_loss: 0.5440

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 319us/step - accuracy: 0.7278 - loss: 0.5571
Loss: 0.557100236415863, Accuracy: 0.7278425693511963

In [26]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.